$mainWidth: 1122px;
$mainHeight : 615px;

body {
    background: #f0f0f0;;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #2D3436;
    overflow: hidden;
}
h1, h2, h3, h4 {
    color: #3A0365;
}

.notification {
    position: absolute;
    width: 338px;
    height: 67px;
    right: 0px;
    top: 67px;
    border-radius: 9px 0px 0px 9px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: displayNotification;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    display: none;
    will-change: background, display, right, opacity;

    &.notification--error {
        background: #E34A4A;
    }

    &.notification--success {
        background: #00B894;
    }

    &.notificationDisplay {
        display: flex;
    }

    .message {
        margin-left: 35px;

        &::before {
            background-image: url('../images/error.svg');
            content: " ";
            width: 32px;
            height: 32px;
            position: absolute;
            top: 17px;
            left: 19px;
        }
    }
}

.videoPlayerMain {
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; 
    height: 100vh;

    .videoSelectorSection {
        background: white;
        width: $mainWidth;
        height: $mainHeight;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
        border-radius: 14px;
        display: none;
        justify-content: center; /*centers items on the line (the x-axis by default)*/
        align-items: center; 
        flex-direction: column;

        .title {
            font-size: 32px;
            font-weight: bold;
        }

        .description {
            width: 300px;
            text-align: center;
            font-size: 17px;
            font-weight: lighter;
            margin-bottom: 23px;
        }

        .videoForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .linkInput {
                width: 626px;
                height: 47px;
                background: #FCFCFC;
                border: 1px solid #AAAAAA;
                box-sizing: border-box;
                border-radius: 10px;
                font-size: 15px;
                padding-left: 20px;
                color: #2D3436;
            }

            .submitButton {
                width: 231px;
                height: 57px;
                background: linear-gradient(102.31deg, #3A0365 22.72%, #00B894 94.83%);
                box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.27);
                border-radius: 9px;
                border: 0;
                color: white;
                font-size: 17px;
                margin-top: 35px;
                font-weight: bold;
                position: relative;

                &::before {
                    background-image: url('../images/share.svg');
                    content: " ";
                    width: 32px;
                    height: 32px;
                    position: absolute;
                    top: 17px;
                    left: 19px;
                }
            }
        }

        &.is-active {
            display: flex;
        }
    }

    .videoPlayerSection {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .videoPlayerHeader {
            font-weight: bolder;
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #3A0365;

            .channelId {
                font-weight: normal;
                font-size: 29px;
                margin-left: 5px;
                color: #2D3436;
                text-transform: initial;
            }

            .copyIdButton {
                width: 20px;
                height: 20px;
                margin-left: 10px;
            }
        }

        .videoPlayer {
            width: $mainWidth;
            height: $mainHeight;

            video {
                object-fit: cover;
                width: $mainWidth;
                height: $mainHeight;
                border-radius: 14px;
                box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.4);
            }
        }

        &.is-active {
            display: flex;
        }
    }

}

@keyframes displayNotification {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        right: 0px;
    }
    100% {
        right: -338px;
    }
}